@font-face{
    font-family:'Merchant Copy';
    src:url('Merchant Copy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'whimsy';
    src: url('RASCAL__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Merchant Copy', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background: #ffe0e5;
    width: 400px;
    height: 600px;
    padding: 25px 35px;
    text-align: center;
}

/* exclusively for music player */
nav{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);
}

.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);
}

.album-img{
    width:100px;
    margin-left: -70px;
}

.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-player p{
    font-size: 18px;
    color: #333;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
    margin-top: 35px;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow:0 5px 5px rgba(255,26, 26, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}

.moving-container{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.moving-title{
    display: inline-block;
    margin-top:35px;
    padding-left: 100%;
    /* why is font size not changing? font-size: 25px; */

    animation: title-animation 15s linear infinite;
}


@keyframes title-animation{
    0% { transform: translate3d(0,0,0);}
    100% { transform: translate3d(-100%,0,0);}

}

/* for homepage */
.music-home-page{
    background: #ffb6c1;
    width: 400px;
    height: 600px;
    padding: 25px 35px;
}

.top{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.custom-font{
    font-family: 'whimsy', sans-serif;
    font-size: 35px;
    color:#9e0652;
}

.pfp{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.music-home-page h1{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 10px;
    margin-left: 2px;
}

.music-home-page p{
    padding: 10px 5px;
}

.artist-img{
    width: 64px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.artist-img:hover{
    transform: scale(1.15);
}

.column{
    float: left;
    width: 25%;
    padding: 5px;
}
.row::after{
    content:"";
    clear: both;
    display:table;
}

.rectangle{
    width: 330px;
    height: 60px;

    background-color: #EFFBB9;
    border-radius:15px;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);

    padding: 20px;
    margin-bottom: 10px;

    display: flex;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.rectangle:hover{
    background-color: #dde874;
    color: white;
}

.icon{
    transform: scale(2);
    color: #B0DFE5;

    margin-left: 5px;
    flex-shrink: 0;
}

.song-info{
    display:flex;
    flex-direction: column;

    margin-left: 30px;
}

.song-title{
    font-size: 25px;
    margin-top:-17px;
    /*margin-left: 30px;
    margin-bottom: 3px;*/
}
.artist-name{
    font-size: 15px;
    margin-top: -19px;
    /*
    margin-left: 30px;
    margin-bottom: 3px;
    */
}