/* 
File Name: style.css
Description: Styles and animations for Home Page and Music Player. 
*/

/* adding custom fonts */
@font-face{
    font-family:'Merchant Copy';
    src:url('Merchant Copy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'whimsy';
    src: url('RASCAL__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* basic settings for the site */
*{
    margin: 0;
    padding: 0;
    font-family: 'Merchant Copy', sans-serif;
    box-sizing: border-box;
}

/* settings for container (background) */
.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* for homepage */

/* settings for home page appearance */
.music-home-page{
    background: #ffb6c1;
    width: 400px;
    height: 600px;
    padding: 25px 35px;
}

.music-home-page p{
    padding: 10px 5px;
}

/* title and decoration settings */
.top{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.custom-font{ /*custom font for title*/
    font-family: 'whimsy', sans-serif;
    font-size: 35px;
    color:#9e0652;
}

.decor{
    width: 150px;
    margin-top: -10px;
}

/* settings for artist images */
.artist-img{
    width: 64px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/*setting artist images up in row*/
.column{
    float: left;
    width: 25%;
    padding: 5px;
}
.row::after{
    content:"";
    clear: both;
    display:table;
}

/* hover animation*/
.artist-img:hover{
    transform: scale(1.15);
}


/* song buttons settings */
.rectangle{
    width: 330px;
    height: 60px;

    background-color: #EFFBB9;
    border-radius:15px;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);

    padding: 20px;
    margin-bottom: 10px;

    display: flex;
    cursor: pointer;

    transition: background-color 0.3s ease;
}
/* hover animation */
.rectangle:hover{
    background-color: #dde874;
    color: white;
}
/* disc icon settings */
.icon{
    transform: scale(2);
    color: #B0DFE5;

    margin-left: 5px;
    flex-shrink: 0;
}

/*song info text settings */
.song-info{
    display:flex;
    flex-direction: column;

    margin-left: 30px;
}
.song-title{
    font-size: 25px;
    margin-top:-17px;
}
.artist-name{
    font-size: 15px;
    margin-top: -19px;
}



/* for music player page */

/* setting up music player container */
.music-player{
    background: #ffe0e5;
    width: 400px;
    height: 600px;
    padding: 25px 35px;
    text-align: center;
}

/* navigation buttons */
nav{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);
}

/* container for the vinyl and album cover */
.record-container{
    position: relative;
    margin: auto;
}

/* settings for the vinyl and its spinning animation */
.song-img{
    width: 205px;
    margin-left: 90px;
    margin-top: 8px;
    
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 10px rgba(255,26, 26, 0.22);

    z-index:1;
}

.is-spinning{
    animation: spin 3s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* settings for the album cover */
.album-img{
    width:280px;

    position: absolute;
    top: 21%;
    left: 43%;

    margin-left: -80px;
    z-index: 2;
}

/* settings for progress bar */
#progress{ /*progress bar appearance*/
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
    margin-top: 35px;
}
#progress::-webkit-slider-thumb{ /*appearance of slider*/
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow:0 5px 5px rgba(255,26, 26, 0.22);
}

/* settings for controls (skip, previous, pause/play) */
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #f53192;
    color: #fff;
}

/* settings and animation for moving text */
.moving-container{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
.moving-title{
    display: inline-block;
    margin-top:35px;
    padding-left: 100%;

    animation: title-animation 15s linear infinite;
}

@keyframes title-animation{
    0% { transform: translate3d(0,0,0);}
    100% { transform: translate3d(-100%,0,0);}

}

#title,
#artist{
    font-size: 25px;
}

